body {
    overflow-x: hidden;
    background-color: #134;
    color: #FFF;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(#210098, #080025);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title {
    font-size: 0;
    margin: 20px;
    cursor: pointer;
}

.title > span {
    font-size: 50px;
    margin: 0;
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}

.subtitle {
    color: #CCC;
}

hr {
    height: 5px;
    border-radius: 5px;
    background-color: #FFF;
}

.download {
    display: inline-flex;
    text-decoration: none;

    width: 15em;
    height: 2em;
    
    align-items: center;
    justify-content: center;

    margin: 10px;
    padding: 5px;

    background-color: #023;
    border: 2px solid #FFF;
    color: #8FF;
    border-radius: 10px;

    transition: scale 0.25s ease-in-out;
    &:hover {
        scale: 1.1;
    }
}

.icon {
    width: 32px;
    height: 32px;
    margin: 5px;
}

.link_icon {
    /*position: relative;
    top: 0.25em;*/
    height: 1em;
    width: auto;
    transition: scale 0.5s;
    &:hover {
        scale: 1.5;
    }
}